/* SIGN IN */

.sign-in-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
}

.sign-in-header {
  text-align: center;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
}

.sign-in-form label {
  margin-bottom: 0.5rem;
}

.sign-in-form input {
  margin-bottom: 1rem;
}

.sign-in-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem;
}