/* QTYSELECTOR */

.qty-selector {
	display: flex;
	align-items: center;
	gap: 2px;
}

.decrease-button, .increase-button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: rgb(255, 230, 157);
  border-radius: 5px;
  background-color: rgb(74, 48, 10);
  border: 1px solid rgb(74, 48, 10);
  cursor: pointer;
}

.decrease-button:hover, .increase-button:hover {
	background-color: rgb(143, 124, 49);
	border: 1px solid rgb(143, 124, 49);
}

.quantity-input {
	width: 100px;
	height: 27px;
	font-size: 1em;
	text-align: center;
	color: rgb(74, 48, 10);
	background-color: rgb(255, 230, 157);
	border: 1px solid rgb(74, 48, 10);
	border-radius: 5px;
}